@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); /*"Passion One", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkgrey;
}

div.produtos {
    background-color: whitesmoke;
    margin: auto;
    border: 4px solid goldenrod;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

img {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    font-family: "Passion One", sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

p#preco {
    text-align: center;
    color: brown;
}

div input {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}