@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #412722;
}

header {
    text-align: center;
    font-size: larger;
    color: white;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: white;
    margin-top: 20px;
}

